<form action="/users/<%=@user.id%>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p>Username: <input type="text" name="username" value="<%=@user.username%>"></p>
    <p>Email: <input type="text" name="email" value="<%=@user.email%>"</p>
    <br> 
    <br>
    <br>
    <p> <input id="button" class="btn black" type="submit" value="Update"> </p>
</form>

<p> <form action = "/users/<%=@user.id%>">
    <input id="button" class="btn black" type="submit" value="Back">
    </form>
</p>