<h4> My Account </h4>
<br>
<h6> Username: <%=@user.username%> </h6>
<h6> Email: <%=@user.email%> </h6>
<br>
<br> 

<form action="/users/:id/edit">
    <input id="button" class="btn black" type="submit" value="Edit">
</form>

<p> <form action="/library">
    <input id="button" class="btn black" type="submit" value="Back">
    </form>
</p>

