<h1> My Library </h1>
<br> 
<% @library.each do | album | %>
    <p><a href="/library/<%=album.id%>"> <%=album.title%></a> </p>
<% end %>

<p> <form action = "/library/new">
    <input id = "button" type = "submit" value = "Add Album">
    </form>
</p>