<h5> Add A New Album </h5>
<br>
<form action="/library" method="post">
    <p>Title: <input type="text" name="title"></p>
    <p>Artist: <input type="text" name="artist"></p>
    <p>Year: <input type="text" name="year"></p>
    <p>Label: <input type="text" name="label"></p>
    <p>Single: <input type="text" name="single"></p>
    
    <p>Reissue:
        <select class="browser-default" name="reissue">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </p> 
    
    <p>Condition: 
        <select class="browser-default" name = "condition">
            <option value="New">New</option>
            <option value="Good">Good</option>
            <option value="Fair">Fair</option>
            <option value="Poor">Poor</option>
        </select>
    </p>
    
    
    <p><input id="button" class="btn black" type="submit" value ="Add"></p>
</form>

<p> <form action="/library">
    <input id="button" class="btn black" type="submit" value="Back">
    </form>
</p>

