<h4> Sitewide Albums </h4>
<br> 
<% @albums.each do | album | %>
    <p><a href="/albums/<%=album.id%>" class="underline-on-hover" style="color: black"> <%=album.title%></a><br>
    <i><%=album.artist%>, <%=album.year%></i></p>
<% end %>

<p> <form action="/">
    <input id="button" class="btn black" type="submit" value="Back">
    </form>
</p>