<h5>Sign Up</h5>
<br>
<form action="/signup" method="POST">
  <p> <input type = "text" name = "email" placeholder ="Email:"> </p>
  <p> <input type="text" name="username" placeholder="Username:"> </p>
  <p> <input type="password" name="password" placeholder="Password:"> </p>
  <input class= "btn black" type="submit" value="Sign Up">
</form>

<p> <form action = "/">
    <input id = "button" class="btn black" type = "submit" value = "Back">
    </form>
</p>