<h3>Sign Up</h3>
<br>
<form action="/signup" method="POST">
  <p> <input type = "text" name = "email" placeholder ="Email:"> </p>
  <p> <input type="text" name="username" placeholder="Username:"> </p>
  <p> <input type="password" name="password" placeholder="Password:"> </p>
  <input type="submit" value="Sign Up">
</form>
