<div class="container">
  <header><img src="images/corneal-small.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Application Name</h2>

    <div class="content">
      <p>"Welome to the Application. Please log in or sign up to continue."</p>
      
      <p><form action = "/login">
            <input id = "button" type = "submit" value = "Log In">
          </form>
      </p>

      <p> <form action = "/signup">
            <input id = "button" type = "submit" value = "Sign Up">
          </form>
      </p> 

    </div>
  </div> 


</div>