<div class="container">
  <header><img src="images/the-wax-attic.png" class="img-responsive main-image"></header>
  <br>
  <div class="col-md-8 col-md-offset-2">
    
    <div class="site-tagline">
      <h6>come for the music | stay for the organization</h6>
    
    </div>
    <br>
    <br> 
    <div class="landing-buttons">
      <a href="/login" class="btn black" >Log In</a>
      <a href="/signup" class="btn black">Sign Up</a>
      <br>
      <br>
      <a href="/albums" class="btn black">Take A Tour</a>
    </div>
    
  </div> 
</div>