<div class="container">
  <header><img src="images/the-wax-attic.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">

   
      <h6>Welcome to the wax attic. Please log in or sign up to continue.</h6>
      
      <a href="/login" class="btn black">Log In</a> 
      <a href="/signup" class="btn black">Sign Up</a>
     

    
  </div> 


</div>